@media screen and (min-width: 992px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        min-width: 300px;
        font-size: 17px;
        line-height: 19px;
    }
}